<!DOCTYPE html>
<html>
<div class="split left">
        <title>Notes</title>
    <body>
        <div class="container">
        <h1>class="card mt-4"</h1> 
            <a class "btn btn-success">New Note</a>
</body>
</div> 
</html>