<!DOCTYPE hmtl>
<html>
    <body>
        <div>
            <div id="calendar"></div>
            <script src="./moment.min.js"></script>
            <script src="./script.js"></script>
            <link rel="stylesheet" type="text/css" href="./style.css">
        </div>
        <link 
        </div>
    </body>
</html>
